<section class="card">
    <button class="favorite _only-icon _active" type="button">
        <svg class="icon"><use xlink:href="#like"/></svg>
    </button>
    <a class="card__img-link" href="{{ item.link }}">
        <img class="card__img" src="{{ item.img }}" alt="{{ item.name }}" loading="lazy">
    </a>
    <a class="card__name" href="{{ item.link }}">{{ item.name }}</a>
    <div class="card__desc">{{ item.desc }}</div>
    <div class="card__prices">
        <span class="card__prices-current">{{ item.price }} руб.</span>
        {% if item.priceOld is defined %}
            <span class="card__prices-old">{{ item.priceOld }} руб.</span>
        {% endif %}
    </div>
    <button class="card__cart btn _paper" type="button">В корзину</button>
</section>