<section class="favorite-item">
    <img class="favorite-item__img" src="{{ item.img }}" alt="{{ item.name }}">
    <div class="favorite-item__col">
        <p class="favorite-item__name">{{ item.name }}</p>
        <span class="favorite-item__price">{{ item.price }} руб.</span>
    </div>
    <a class="btn _small _paper" href="{{ item.link }}">Заказать</a>
</section>